/* --------------------- Open Props --------------------------- */

/* the props */
@import "https://unpkg.com/open-props";

/* optional imports that use the props */
@import "https://unpkg.com/open-props/normalize.min.css";
@import "https://unpkg.com/open-props/buttons.min.css";

/* ------------------------------------------------------------ */

body {
  font-family: sans-serif;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  margin: 0 auto;
  padding: 2rem;
}

p,
button {
  margin: var(--size-6);
}

body > picture,
button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin: 2rem;
}

.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: #333;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  z-index: 1000;
  font-family: 'sans-serif';
  justify-content: space-between;
}

.logo {
  margin: 0;
  font-size: 1.1rem;
  font-family: monospace;
  color: #fff;
}


.page-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.text-area-container {
  flex: 1;
  margin-top: 60px;
  margin-bottom: 60px;
  display: flex;
}

.text-area-div {
  position: relative;
  flex: 1;
  margin: 10px;
  max-height: 80vh;
}

.text-area {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 80vh;
  color: transparent;
  z-index: 0
}

.code-style {
  font-size: smaller;
  width: 98%;
  height: 98%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  text-align: left;
  overflow-y: scroll;
  padding: 10px;
  background: transparent;
  margin: 10px;
}

.text-area-copy-button {
  position: absolute;
  top: 1px;
  right: 1px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 2px;
  margin-top: 5px;
  margin-right: 5px;
  z-index: 100;
}

.footer-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  background:  #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

//
///* switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 25px;
}
//
//.switch input {
//  opacity: 0;
//  width: 0;
//  height: 0;
//}
//
//.slider {
//  position: absolute;
//  cursor: pointer;
//  top: 0;
//  left: 0;
//  right: 0;
//  bottom: 0;
//  background-color: #ccc;
//  transition: 0.4s;
//  border-radius: 34px;
//}
//
//.slider:before {
//  position: absolute;
//  content: "";
//  height: 26px;
//  width: 26px;
//  left: 4px;
//  bottom: 4px;
//  background-color: white;
//  transition: 0.4s;
//  border-radius: 50%;
//}
//
//input:checked + .slider {
//  background-color:#495057;
//}
//
//input:focus + .slider {
//  box-shadow: 0 0 1px #495057;
//}
//
//input:checked + .slider:before {
//  transform: translateX(26px);
//}

.word-wrap {
  white-space: pre-wrap !important;
  word-wrap: break-word !important;
}


input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 8px;
  bottom: 0;
  cursor: pointer;
  outline: none;
  height: 40px; /* was 5.6em */
  width: 4em; /* was 12.5em */
  background-color: #181a1c;
  -webkit-transform: skewX(-7deg);
  -ms-transform: skewX(-7deg);
  transform: skewX(-7deg);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

input[type="checkbox"]:before {
  font-size: 0.75em; /* was 1.5em */
  content: "OFF";
  position: absolute;
  width: 3em; /* was 3.75em */
  height: 2.7em; /* was 2.9em */
  background-color: #495057;
  color: #f1f3f5;
  top: 0.3em; /* was 0.42em */
  left: 0.35em; /* was 0.42em */
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 5px;
}

input[type="checkbox"]:checked {
  background: -o-linear-gradient(315deg, #495057, #919496);
  background: linear-gradient(135deg, #495057, #919496);
}

input[type="checkbox"]:checked:before {
  content: "ON";
  left: 2.05em; /* was 4.1em */
  color: #f1f3f5;
}
